<h3 ng-show="project">
    {$ project.name $} - {$ projectUsers.length $} potato<span ng-if="projectUsers.length != 1">es</span>
    <a class="btn btn-primary bt-lg roll-it-btn" ng-show="projectUsers.length > 1" ng-click="startAll()">Roll the spuds!</a>
</h3>

<div ng-show="!project">Select a project</div>

<div ng-show="projectUsers.length > 1">
    <h3>Included potatoes</h3>
    <label for="{$ user.username $}-checkbox" ng-repeat="user in projectUsers">
        <input checked
               type="checkbox"
               value="{$ user.username $}"
               class="user-checkbox"
               id="{$ user.username $}-checkbox"
               ng-click="updateCheckedUsers()"
        />
        {$ user.fullname $}
    </label>
</div>

<div ng-show="checkedUsers.length > 1">
    <div class="days {$ day $}" ng-repeat="day in days">
        <h4>{$ day | uppercase $}</h4>
        <div class="day">
            <ul>
                <li data-id="{$ user.username $}" ng-repeat="user in projectUsers">{$ user.fullname $}</li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="checkedUsers.length == 1">
    The only person in this project is <strong>{$ checkedUsers[0].fullname $}</strong> so errr...
</div>

<div ng-show="project && checkedUsers.length == 0">
    The project runs itself!
</div>

<div class="week-results">
    <h4>Week {$ firstDay | date:"yyyy/MM/dd" $} - {$ lastDay | date:"yyyy/MM/dd" $}</h4>
    <div class="result" ng-repeat="result in weeklyResults">
        <div>Ran by {$ result.ran_by $} on {$ result.created | date:"EEEE" $} at {$ result.created | date:"shortTime" $}</div>
        <div>Partakers: <span ng-repeat="partaker in result.partakers">{$ partaker $}<span ng-show="!$last">, </span></span></div>
        <div>
            <span ng-repeat="day in days">{$ day $} <b>{$ result.result[$index] $}</b><span ng-show="!$last">, </span></span>
        </div>
    </div>
</div>
