<div ng-show="project" class="center-align">
    <h4>{$ project.name $} - {$ projectUsers.length $} potato<span ng-if="projectUsers.length != 1">es</span></h4>
</div>

<div ng-show="projectUsers.length > 0" class="center-align">
    <p>
        <span ng-repeat="user in projectUsers">
            <input type="checkbox"
                   id="{$ user.username $}-checkbox"
                   value="{$ user.username $}"
                   ng-click="updateCheckedUsers()"
                   class="user-checkbox"
                   checked="checked"
            />
            <label for="{$ user.username $}-checkbox">{$ user.fullname $}</label>
        </span>
    </p>

    <a class="waves-effect waves-light btn roll-it-btn" ng-show="checkedUsers.length > 1" ng-click="startAll()">Go</a>
</div>

<h5 class="center-align" ng-show="project && projectUsers.length == 0">The project runs itself!</h5>
<h5 class="center-align" ng-show="project && projectUsers.length == 1">One potato, one bugman!</h5>
<h5 class="center-align" ng-show="!project">pick a project and roll the spuds!</h5>

<div ng-show="checkedUsers.length > 1">
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="days {$ day $}" ng-repeat="day in days">{$ day | uppercase $}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="days {$ day $}" ng-repeat="day in days">
                    <div class="day">
                        <ul>
                            <li data-id="{$ user.username $}" ng-repeat="user in projectUsers">{$ user.fullname $}</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="weeklyResults.length > 0" class="week-results">
    <h4 class="center-align">Week {$ firstDay | date:"yyyy/MM/dd" $} - {$ lastDay | date:"yyyy/MM/dd" $}</h4>

    <ul class="collection">
        <li class="collection-item" ng-repeat="result in weeklyResults">
            <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
            <span class="title">Ran by {$ result.ran_by $} on {$ result.created | date:"EEEE" $} at {$ result.created | date:"shortTime" $}</span>
            <p>Partakers: <span ng-repeat="partaker in result.partakers">{$ partaker $}<span ng-show="!$last">, </span></span><br>
                Result: <span ng-repeat="day in days">{$ day $} <b>{$ result.result[$index] $}</b><span ng-show="!$last">, </span></span>
            </p>
        </li>
    </ul>
</div>
<!--
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
-->