.ng-show {
    display: block;
}

.ng-hide {
    display: none;
}

div.day {
    position: relative;
    width: 120px;
    height: 31px;
    z-index: -10;
    overflow: hidden;
    border: 1px solid white;
}

div.day ul {
    position: absolute;
    width: 120px;
    height: 30px;
    top: -40px;
    padding-left: 0;
}

div.day ul li {
    display: block;
    height: 30px;
    width: 120px;
}

td {
    padding: 10px 5px;
}

.collapsible-body p {
    padding: 15px;
}

span.project-user {
    padding-right: 15px;
}

.nav-wrapper a.dropdown-button {
    width: 180px;
    text-align: center;
}

.bugman-logo img {
    height: 64px;
}