* {
    box-sizing: border-box;
}

.ng-show {
    display: block;
}

.ng-hide {
    display: none;
}

div.day {
    position: relative;
    height: 30px;
    z-index: -10;
    overflow: hidden;
    border: 1px solid white;
}

div.day ul {
    position: absolute;
    width: 120px;
    height: 30px;
    top: -40px;
    padding-left: 0;
}

div.day ul li {
    display: block;
    height: 30px;
    width: 120px;
    white-space: nowrap;
}

td {
    padding: 10px 5px;
}

.collapsible-body p {
    padding: 15px;
}

span.project-user {
    padding-right: 15px;
}

.nav-wrapper a.dropdown-button {
    width: 180px;
    text-align: center;
}

.bugman-logo img {
    height: 64px;
    margin-left: 10px;
}

.potatobar nav {
    background: #EEF1F9;
    padding: 5px;
    margin: 0;
    zoom: 1;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.7;
    height: auto;
}

.potatobar li {
    margin-right: 10px;
}

.potatobar a {
    text-decoration: none;
    color: #1F4F82;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.7;
    padding: 0;
}



#potatobar input[type="search"] {
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 20px;
    background: white;
}

#potatobar input[type="submit"] {
    font-size: 14px;
    color: #000000;
}

div.nav-wrapper li {

}

div.navbar {
    width: 100%;
    padding: 0;
}

div.navbar li a {
    line-height: 1.2em;
    height: auto;
    padding: 23px 15px;
}

div.navbar li a i {
    line-height: 0.7em;
    height: auto;
}

#projects-dropdown {
    white-space: normal;
    overflow-x: hidden;
    right: 0 !important;
    left: auto !important;
    width: 200px !important;
}

nav .button-collapse {
    padding-left: 10px;
}

nav {
    height: 64px;
}

.container {
     width: 100%;
}

.responsive-table tbody tr {
    width: 100%;
}