{% load staticfiles %}
<!DOCTYPE html>
<html ng-csp>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
        <script src="{% static "js/angular.js" %}"></script>
        <script src="{% static "js/ng-route.js" %}"></script>
        <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    </head>
    <body ng-app="BugmanApp">
        <div class="container" ng-controller="ProjectsController">
            <span ng-repeat="project in projects">
                <a href="/#/{$ project.id $}/">{$ project.name $}</a>
                <span ng-show="!$last"> | </span>
            </span>
        </div>
        <div ng-view class="container"></div>

        <script src="{% static "js/bugman/app.js" %}"></script>
        <script src="{% static "js/bugman/controllers.js" %}"></script>
        <script src="{% static "js/bugman/services.js" %}"></script>
    </body>
</html>